<div class ="container">
<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Encuestas</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Encuestas</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li id="encuestaListado" *ngIf="isLogged" class="active activar" onclick="agregarClass(this);"><a href="/#/encuestas/listado">Home</a></li>
              <li id="directorCrear" *ngIf="isLogged" class="activar" onclick="agregarClass(this);"><a href="/#/director/crear">Director</a></li>
              <li id="listadoMateria" *ngIf="isLogged" class="activar" onclick="agregarClass(this);"><a href="/#/materias/listado">Materias</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="!isLogged"><a href="/#/login">Login</a></li>
                <li *ngIf="isLogged" (click)="logout()"><a>Cerrar sesión</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
</div>

<div class="container">    
    <router-outlet></router-outlet>
</div>