body {
	background: #f4f4f4;
}
.center {
	text-align: center;
	padding-top: 100px;
}
.sebm-google-map-container {
	height: 300px;
}

.teal.active.item, .ui.inverted.teal.menu {
	background-color: #2185d0;
}
.danger{
	color: #a94442;
}
.success{
	color: #3c763d;
}