<h2>{{titulo}}</h2>
<p>
<b>* Total de alumnos asignados a la encuesta:</b> {{total}} <br>
<b>* Alumnos que completaron toda la encuesta:</b> {{completaron}} <br>
<b>* Alumnos que no iniciaron la encuesta:</b> {{noIniciarion}} <br>
<b>* Alumnos que completaron alguna opción:</b> {{completaronAlgunaOpcion}} <br>
<b>* A continuación las opciones elegidas por materia:</b> <br>
</p>
<div class="row">
	<div class="col-md-3" *ngFor="let materia of materias">
		<div class="panel panel-default">
			<div class="panel-heading">{{materia.nombre}}</div>
			<div class="panel-body" style="height: 125px; overflow: auto">
				<div *ngFor="let opcion of materia.opciones">{{opcion.descripcion}}: {{cantidadPara(materia, opcion)}}</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
	<button type="button" class="btn btn-default navbar-btn" onclick="window.history.back();">Volver</button>
	</div>
</div>


