

<div class="row">
  <div class="col-md-5">
    <h2>{{titulo}}</h2>
    <b>Total de alumnos asignados a la encuesta:</b> {{total}} <br>
  </div>
  <div class="col-md-7">
    <div id="piechart" style="width: 500px; height: 230px;"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p><b>A continuación las opciones elegidas por materia:</b></p>
  </div>
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th style="min-width: 250px">Opciones</th>
        <th style="min-width: 70px" *ngFor="let materia of materias">{{materia.codigo}}</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let opcion of opciones">
        <td>{{opcion.descripcion}}</td>
        <td *ngFor="let materia of materias" class="{{superaLimite(materia, opcion) ? 'danger' : 'default'}}" title="{{opcion.descripcion}}">{{mostrarCantidadConLimite(materia, opcion)}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-default navbar-btn" onclick="window.history.back();">Volver</button>
  </div>
</div>

<style>
    .col-md-3{
        padding-right: 0px !important;
    }
</style>