<h2>{{titulo}}</h2>
<p>
<b>* Alumnos que completaron la encuesta:</b> {{completaron}} <br>
<b>* Alumnos que no completaron la encuesta:</b> {{noCompletaron}} <br>
<b>* A continuación las opciones elegidas por materia:</b> <br>
</p>
<div class="row">
	<div class="col-md-4" *ngFor="let materia of materias">
		<div class="panel panel-default">
			<div class="panel-heading">{{materia.nombre}}</div>
			<div class="panel-body" style="height: 150px; overflow: auto">
				<div *ngFor="let opcion of materia.opciones">{{opcion.descripcion}}: {{cantidadPara(materia, opcion)}}</div>
			</div>
		</div>
	</div>
</div>


