<h2>Crear encuesta</h2>
<div class="row">
  <div class="form-group col-md-2">
    <label>Año<span style="color:red"> *</span></label>
    <input class="form-control" placeholder="ingrese año..." min="2000" max="3000" type="number" id="anho">
  </div>
  <div class="form-group col-md-2">
    <label>Semestre<span style="color:red"> *</span></label>
    <select class="form-control" (change)="seleccionarSemestre($event.target.value)" >
        <option value="{{1}}">1</option>
        <option value="{{2}}">2</option>
    </select>
  </div>
  <div class="form-group col-md-3">
    <label>Carrera<span style="color:red"> *</span></label>
    <input class="form-control" placeholder="ingrese carrera..." id="carrera">
  </div>
  <div class="form-group col-md-2">
    <label>Fecha límite<span style="color:red"> *</span></label>
    <input class="form-control" placeholder="dd/mm/yyyy" id="fecha-limite" readonly="readonly">
  </div>
  <div class="form-group col-md-2">
    <button class="btn btn-success" style="margin-top: 25px" type="button" (click)="crearEncuesta()">Crear</button>
  </div>
</div>

<table class="table">
  <thead >
    <tr>
      <th>Año - Semestre</th>
      <th>Carrera</th>
      <th>Fecha límite</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let encuesta of encuestas;let i = index; trackBy: trackByFn" >
      <td>{{encuesta.anho}} - {{encuesta.semestre}}</td>
      <td>{{encuesta.carrera}}</td>
      <td>{{formatearFecha(encuesta.fechaLimite)}}</td>
      <td>
        <a [routerLink]="['/encuestas/estadisticas', encuesta._id]" title="Estadisticas"><span class="glyphicon glyphicon-stats"></span></a>
        <a [routerLink]="['/asignar/alumno', encuesta._id]" title="Asignar alumno"><span class="glyphicon glyphicon-plus"></span></a>
        <a [routerLink]="['/encuestas/materias-publicadas', encuesta._id]" title="Materias publicadas"><span class="glyphicon glyphicon-list-alt"></span></a>
        <a style="cursor: pointer; cursor: hand;" *ngIf="!encuesta.estaActiva" title="Activar encuesta" (click)="activar(encuesta._id, i)"><span class="glyphicon glyphicon-ok"></span></a>
        <a style="cursor: pointer; cursor: hand;" *ngIf="encuesta.estaActiva" title="Desactivar encuesta" (click)="desactivar(encuesta._id, i)"><span class="glyphicon glyphicon-remove"></span></a>
      </td>
    </tr>
  </tbody>
</table>