<h2>Listado de Encuestas</h2>
<table class="table">
	<thead >
	  <tr>
	    <th>Año - Semestre</th>
	    <th>Carrera</th>
	    <th>Acciones</th>
	  </tr>
	</thead>
	<tbody>
	  <tr *ngFor="let encuesta of encuestas">
	    <td>{{encuesta.anho}} - {{encuesta.semestre}}</td>
	    <td>{{encuesta.carrera}}</td>
	    <td>
	    	<a [routerLink]="['/encuestas/estadisticas', encuesta._id]" title="Estadisticas"><span class="glyphicon glyphicon-stats"></span></a>
	    	<!--<a><span class="glyphicon glyphicon-search" title="Ver encuesta"></span></a>
	    	<a><span class="glyphicon glyphicon-pencil" title="Editar encuesta"></span></a>
	    	<a><span class="glyphicon glyphicon-remove" title="Eliminar encuesta"></span></a>-->
	    	<a [routerLink]="['/asignar/alumno', encuesta._id]" title="Asignar alumno"><span class="glyphicon glyphicon-plus"></span></a>
	    </td>
	  </tr>
	</tbody>
</table>
