<div class="row">
	<div class="col-md-12">
		<h2>Asignar Alumno</h2>
		<label>Encuesta: {{encuesta.carrera}}, {{encuesta.anho}} - {{encuesta.semestre}}</label>
	</div>
</div>
<br>
<div class="row">
	<div class="form-group col-md-3">
		<label>Nombre y Apellido<span style="color:red"> *</span></label>
    	<input class="form-control" placeholder="ingrese nombre y apellido..." type="text" [(ngModel)]="alumno.nombreYApellidoAlumno">
	</div>
	<div class="form-group col-md-3">
		<label>DNI<span style="color:red"> *</span></label>
    	<input class="form-control" placeholder="ingrese DNI..." [(ngModel)]="alumno.DNIAlumno">
	</div>
	<div class="form-group col-md-3">
		<label>Email<span style="color:red"> *</span></label>
    	<input type="email" class="form-control" placeholder="ingrese Email..." [(ngModel)]="alumno.emailAlumno">
	</div>
	<div class="form-group col-md-3">
		<button class="btn btn-success" style="margin-top: 25px" type="button" (click)="asignarAlumno()">Asignar</button>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-3">
		<input type="search" class="form-control" placeholder="ingrese nombre y apellido..." [(ngModel)]="nombreYApellido">
	</div>
	<div class="col-md-3">
		<input type="search" class="form-control" placeholder="ingrese DNI..." [(ngModel)]="dni">
	</div>
	<div class="col-md-3">
		<button class="btn btn-primary" (click)="buscar()">Buscar</button>
	</div>
</div>
<div class="table-responsive">
<table class="table">
	<thead>
	  <tr>
	    <th width="50%">Nombre y Apellido</th>
	    <th>DNI</th>
	    <th>Email</th>
	    <th>URL Encuesta</th>
	  </tr>
	</thead>
	<tbody>
	  <tr  *ngFor="let alumno of alumnos">
	  	<td>{{alumno.nombreYApellidoAlumno}}</td>
	  	<td>{{alumno.DNIAlumno}}</td>
	  	<td>{{alumno.emailAlumno}}</td>
	  	<td><a href="{{crearUrlPara(alumno)}}">{{crearUrlPara(alumno)}}</a></td>
	  </tr>
	</tbody>
</table>
</div>

<div class="row">
	<div class="col-md-12">
		<button type="button" class="btn btn-primary" (click)="mostrarMas()">Mostrar más</button>
	</div>
</div>

<div class="row" #someVar>
	<div class="col-md-12">
		<button type="button" class="btn btn-default navbar-btn" onclick="window.history.back();">Volver</button>
	</div>
</div>