<div class="container">
<div class="form-signin">
    <h2 class="form-signin-heading">Iniciar sesión</h2>
    <label for="inputEmail" class="sr-only">Email</label>
    <input id="email" class="form-control" placeholder="Email" required="" [(ngModel)]="user.email" autofocus="" type="email">
    <label for="inputPassword" class="sr-only">Contraseña</label>
    <input id="password" class="form-control" placeholder="Contraseña" required="" [(ngModel)]="user.password" type="password">
    <div class="checkbox">
        <label>
            <input value="remember-me" type="checkbox"> Recordame
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" (click)="login()">Ingresar</button>
</div>
</div>
