<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Encuestas UNQ - CPI</title>
  <script src="jquery-3.1.1.min.js"></script>
  <script src="underscore-min.js"></script>
  <script src="backbone-min.js"></script>
  <script src="app.js"></script>
  <style>
    ul{
      width: 100%;
    }
    li{
      padding-bottom: 15px;
      width: 100%;
    }
    #enviar{
      margin-top: 15px;
    }
  </style>
</head>

<body>

  <div id="app">
    <h1>Encuestas</h1>
    <h4>Lista de materias</h4>
    <ul id="materia-lista">
    </ul>
    <button id="enviar">Enviar</button>
  </div>
  

  <script type="text/template" id="materia-template">
    <p><%= nombre %></p>
    <select id="<%= id %>-select">
        <% _(opciones).each(function(opcion) { %>
            <option value="<%= opcion %>"><%= opcion %></option>
        <% }); %>
    </select>
  </script>

  </body>
</html>
